<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xy.cmbms.mapper.AuditMapper">

    <update id="updateAuditMsg">
        UPDATE tbl_message
        set publish = #{auditOpinion}, publish_time = now(), audit_by = #{userId}
        WHERE del_flag = 1 and id = #{msgId}
    </update>


</mapper>