<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xy.cmbms.mapper.AuditMapper">

    <update id="updateAuditMsg">
        UPDATE tbl_audit
        SET audit_results = #{auditResults}, audit_opinion = #{auditOpinion}, audit_by = #{userId},audit_time = NOW()
        WHERE msg_id = #{msgId} AND  del_flag = 1
    </update>


</mapper>